<a href="https://colab.research.google.com/github/lgelbman/DataScienceHW3/blob/main/DataScienceHW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

1. Import the car data to github
2. Import it into a pandas dataframe

In [3]:
url_of_csv_file = "https://raw.githubusercontent.com/lgelbman/DataScienceHW3/main/Blank_Car_Info.csv"
data = pd.read_csv(url_of_csv_file)

3. Assign the column names as [numDoors, numCylinders, mpgHighway, mpgStreets, currentMileage, avgMileagePerTuneUp, qualityRating]

In [4]:
data.columns = ["numDoors", "numCylinders", "mpgHighway", "mpgStreets", "currentMileage", "avgMileagePerTuneUp", "qualityRating"]

4. Check for null values

In [18]:
data.isnull().sum()

numDoors               0
numCylinders           0
mpgHighway             0
mpgStreets             0
currentMileage         0
avgMileagePerTuneUp    0
qualityRating          0
dtype: int64

In [19]:
data.isnull()

      numDoors  numCylinders  ...  avgMileagePerTuneUp  qualityRating
0        False         False  ...                False          False
1        False         False  ...                False          False
2        False         False  ...                False          False
3        False         False  ...                False          False
4        False         False  ...                False          False
...        ...           ...  ...                  ...            ...
1074     False         False  ...                False          False
1075     False         False  ...                False          False
1076     False         False  ...                False          False
1077     False         False  ...                False          False
1078     False         False  ...                False          False

[1079 rows x 7 columns]

Modified from:
https://colab.research.google.com/drive/1fa9GQcFdit2XgcAG1Itiz2ykSI-rxh05#scrollTo=TCaYZr1dgnky

5. Use the drive colab notebook "_2 Practice Problems, Regex, Simple ML Examples.ipynb" to run a kmeans clustering and find the centers if the data were divided into 4 categories.

In [6]:
from sklearn.cluster import KMeans

df_as_array = data.to_numpy()

kmeans = KMeans(n_clusters=4).fit(df_as_array)
centers_of_cluseters = kmeans.cluster_centers_

for i in centers_of_cluseters:
  print(i)

[  2.35379061   2.37184116  26.87725632  25.8032491  252.17689531
 245.37364621   0.50642109]
[2.34146341e+00 2.47560976e+00 2.70731707e+01 2.67682927e+01
 8.75695122e+02 8.72621951e+02 5.06455425e-01]
[2.26406926e+00 2.49783550e+00 2.61904762e+01 2.51515152e+01
 8.54476190e+02 2.33956710e+02 4.89550879e-01]
[2.41981132e+00 2.42924528e+00 2.62971698e+01 2.72169811e+01
 2.48825472e+02 8.66966981e+02 5.46785990e-01]

6. We are given a new car with stats [2, 4, 500, 300, 150, 760, .6] find which cluster it belongs to

In [7]:

new_car_data = (np.array([2, 4, 500, 300, 150, 760, .6])).reshape(1, -1)
prediction = kmeans.predict(new_car_data)
print(prediction)

[3]

7. We are given a new car with stats [2, 3, 100, 900, 500, 45] with the qualityRating unknown.  Use SVM to find it's quality rating.  I suggest that you find a way to "bin" the quality ratings so that you have only a couple of categories instead of what is given, and only then do the SVM.

In [43]:
from sklearn import svm

new_car_data2 = (np.array([2, 3, 100, 900, 500, 45])).reshape(1,-1)

bins = [i / 10 for i in range(11)]
labels = ["{}".format(i / 10) for i in range(10)]

X = df_as_array[:,0:6]
Y = np.array(pd.cut(data["qualityRating"], bins, labels=labels))

svm = svm.SVC().fit(X, Y)

print(new_car_data2)
print(X.shape)
print(Y.shape)

prediction = svm.predict(new_car_data2)
print(prediction[0])

[[  2   3 100 900 500  45]]
(1079, 6)
(1079,)
0.8